<!-- NAVBAR -->
<%- include('../partials/seeker_navbar.ejs') %>

<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">EMPLOYER</span>
</div>

<div class="employer-details">
                

    <div class="profile_info_section">

        <p class="comp_name"><strong>Company</strong><br>
            <span id="comp_name_val"><%= profile.name ? profile.name : 'None' %></span><br>
        </p>
        
        <p class="bio"><strong>Bio</strong><br>
            <span id="bio_val"><%= profile.bio ? profile.bio : 'None' %></span><br>
        </p>

        <p class="comp_size"><strong>Size</strong><br>
            <span id="comp_size_val"><%= profile.size ? profile.size + ' people': 'None' %></span><br> 
        </p>

        

        <!-- EXTERNAL LINK FOR WEBSITE -->
        <% if (profile.website) { %>
            <p class="website">
                <strong>Website</strong><br>
                <span id="website_val">
                    <a href="<%= profile.website %>" target="_blank" rel="noopener noreferrer"><%= profile.website %></a>
                </span>
            </p>
        <% } else { %>
            <p class="website"><strong>Website</strong><br>None</p>
        <% } %>


        <p class="address"><strong>Address</strong><br>
            <span id="address_val"><%= profile.address ? profile.address : 'None' %></span><br>
        </p>

        <p class="postcode"><strong>Postcode</strong><br>
            <span id="postcode_val"><%= profile.postcode ? profile.postcode : 'None' %></span><br>
        </p>

        <p class="ct_phone"><strong>Phone</strong><br>
            <span id="ct_phone_val"><%= profile.ct_phone ? profile.ct_phone : 'None' %></span><br>
        </p>

        <p class="ct_email"><strong>Email</strong><br>
            <span id="ct_email_val"><%= profile.ct_email ? profile.ct_email : 'None' %></span><br>
        </p>

        <p class="industry"><strong>Industry</strong><br>
            <span id="industry_val"><%= profile.industry ? profile.industry : 'None' %></span>
        </p>

    </div>


    <div class="profile_picture_section">
        <!-- DISPLAYING PROFILE PICTURE -->
        <% if (profile.profile_pic) { %>
            <div class="profile_pic_container">
                <img id="profile_pic_val" src="/uploads/<%= profile.profile_pic %>" alt="Profile Picture">
            </div>
        <% } else { %>
            <div class="profile_pic_container">
                <img id="profile_pic_val" src="/img/no_profile_pic.png" alt="Profile Picture">
            </div>
        <% } %>

    </div>
    
    
</div>    