<%- include('../partials/employer_navbar.ejs') %>

<h2>Job</h2>
<pre><%= JSON.stringify(job, null, 2) %></pre>

<h2>Job Types</h2>
<pre><%= JSON.stringify(job_types, null, 2) %></pre>

<h2>Job Benefits</h2>
<pre><%= JSON.stringify(job_benefits, null, 2) %></pre>

<h2>Job Questions</h2>
<pre><%= JSON.stringify(job_questions, null, 2) %></pre>

<h2>Job Skills</h2>
<pre><%= JSON.stringify(job_skills, null, 2) %></pre>