<table>
    <tr>
        <th>Company</th>
        <th>Title</th>
        <th>Location</th>
        <th>Type</th>
        <th>Salary Range</th>
        <th>
            
            <div class="user_dropdown">
                <a class="dropdown_trigger">
                    <div class="table_filter_icon"></div>
                </a>
                <div class="dropdown_content filter_dropdown_content">
                    <form action="/user/job/search" method="GET">
                        <div class="dropdown_filter_item">
                            <input type="checkbox" name="work_style" value="In-person"
                            <% if(filters.work_style.includes('In-person')) {%>
                                checked
                            <% } %>>
                            <label> In-person</label><br>
                            <input type="checkbox" name="job_type" value="Full-time"
                            <% if(filters.job_type.includes('Full-time')) {%>
                                checked
                            <% } %>>
                            <label> Full-Time</label><br>
                        </div>
                        <div class="dropdown_filter_item">
                            <input type="checkbox" name="work_style" value="Remote"
                            <% if(filters.work_style.includes('Remote')) {%>
                                checked
                            <% } %>>
                            <label> Remote</label><br>
                            <input type="checkbox" name="job_type" value="Part-time"
                            <% if(filters.job_type.includes('Part-time')) {%>
                                checked
                            <% } %>>
                            <label> Part-Time</label><br>
                        </div>
                        <div class="dropdown_filter_item">
                            <input type="checkbox" name="work_style" value="Hybrid"
                            <% if(filters.work_style.includes('Hybrid')) {%>
                                checked
                            <% } %>>
                            <label> Hybrid</label><br>
                            <input type="checkbox" name="job_type" value="Temporary"
                            <% if(filters.job_type.includes('Temporary')) {%>
                                checked
                            <% } %>>
                            <label> Temporary</label><br>
                        </div>
                        <div  class="dropdown_filter_item">
                            <label>Min-Pay: </label>
                            <input type="number" name="min_pay" placeholder="£ Enter amount" value="<%= filters.min_pay || '' %>">
                        </div>

                        <div class="dropdown_filter_item">
                            <button type="submit">Filter</button>
                        </div>
                    </form>
                </div>
            </div>

        </th>
    </tr>
    <% postings.forEach(function(post, index) { %>
        <tr id="job_row_<%= index %>">
            <td><%= post.employer.name || 'N/A' %></td>
            <td><%= post.title || 'N/A' %></td>
            <td><%= post.address || 'N/A' %></td>

            <td>
                <% if (post.job_types) { %>
                    <div>
                        <%= post.job_types.map(function(type) { 
                            return type.name; 
                        }).join(", ") %>
                    </div>
                <% } else { %>
                    <div>N/A</div>
                <% } %>
            </td>

            <td>£<%= post.min_pay || 'N/A'%> - £<%= post.max_pay || 'N/A' %> (per month)</td>
            <td><div class="table_expand_icon" onclick="toggleRow('hidden_row_<%= index %>')"></div></td>
        </tr>
        <tr id="hidden_row_<%= index %>" class="hidden_row">
            <td></td>
            <td colspan="5">
                <div class="hidden_row_flex_box">
                    <div class="hidden_row_info">

                        <div class="hidden_row_title">Job Description:</div>
                            <div class="hidden_row_content"><%= post.description || 'N/A'%></div>

                        <div class="hidden_row_title">Start Date:</div>
                            <div class="hidden_row_content"><%= post.start_date || 'N/A' %></div>

                        <div class="hidden_row_title">Salary range:</div>
                            <div class="hidden_row_content">£<%= post.min_pay || 'N/A'%> - £<%= post.max_pay || 'N/A' %> (per month)</div>


                        <div class="hidden_row_title">Working Environment:</div>
                            <div class="hidden_row_content"><%= post.style || 'N/A'%></div>

                        <div class="hidden_row_title">Address:</div>
                            <div class="hidden_row_content"><%= post.address || 'N/A' %></div>

                        <div class="hidden_row_title">Postcode:</div>
                            <div class="hidden_row_content"><%= post.postcode || 'N/A' %></div>
                            

                        <div class="hidden_row_title">Benefits:</div>
                            <% if (post.job_benefits.length > 0) { %>
                                <div class="hidden_row_content">
                                    <%= post.job_benefits.map(function(benefit) { 
                                        return benefit.name; 
                                    }).join(", ") %>
                                </div>
                            <% } else { %>
                                <div class="hidden_row_content">None</div>
                            <% } %>

                            
                        <div class="hidden_row_title">Skills:</div>
                        <% if (post.job_skills.length > 0) { %>
                            <div class="hidden_row_content">
                                <%= post.job_skills.map(function(skill) { 
                                    return skill.name; 
                                }).join(", ") %>
                            </div>
                        <% } else { %>
                            <div class="hidden_row_content">None</div>
                        <% } %>


                    </div>
                    <div class="table_hidden_right_side">
                        <div class="table_hidden_btn">
                        
                            <button type="button" class="table_hidden_save_btn">Save</button>
                            
                
                            <% if( post.has_applied) {%>
                                <button type="button" class="table_hidden_applied_btn">Applied</button>
                            <% } else {%>
                                <% if (!locals.profile) { %>
                                    <button onclick="profilePrompt()">Apply</button>
                                <% } else { %>
                                    <button type="button" class="table_hidden_apply_btn">Apply</button>
                                <% } %>
                            <% } %>
                            
                        </div>
                        
                        <div class="hidden_row_content">
                            <a href="/user/job/employer/<%= post.employer.user_id %>" >
                                <button type="button" class="table_hidden_employer_btn">View Employer</button>
                            </a>    
                        </div>
                            <div class="hidden_row_title">Industry:</div>
                        <div class="hidden_row_content"><%= post.employer.industry || 'N/A' %></div>

                        <div class="hidden_row_title">Contact:</div>
                        <div>Email: <%= post.employer.ct_email || 'N/A' %></div>
                        <div class="hidden_row_content">Phone: <%= post.employer.ct_phone || 'N/A' %></div>

                        <div class="hidden_row_title">Openings:</div>
                        <div class="hidden_row_content"><%= post.openings|| 'N/A'%> vacant</div>

                        <div class="hidden_row_title">Deadline:</div>
                        <div class="hidden_row_content"><%= post.deadline || 'N/A' %></div>
                    </div>




                    



                    <div class="modal create_application_modal">
                        <form class="job_application_form">

                            <div class="modal_header create_application_header">
                                <span class="modal_header_title">Job Application</span>
                                <button type="button" class="modal_header_close">&times;</button>
                            </div>

                            <div class="modal_body create_application_body">
                                <p>Applying for <%= post.title %> position at <%= post.employer.name %>?</p>

                                <label>Contact email:</label>
                                <input type="text" name="ct_email" required><br>
                                <span class="ct_email_err" style="color: red;"></span><br>

                                <label>Attach CV?</label>
                                <input type="checkbox" name="attach_cv"><br>
                                <% if(post.cv_req) {%>
                                    <span>(Note: A CV is required for this job)</span><br>
                                <%}%>
                                <span class="attach_cv_err" style="color: red;"></span>

                                <div class="application_questions">
                                <% if(post.job_questions.length > 0) {%>
                                    <img src="/img/line.png" style="width: 100%; height: 50px;"><br>
                                    <% post.job_questions.forEach(function(question, index) { %>
                                        <span style="text-decoration: underline;">Question <%= index + 1%></span>
                                        <span><%= question.is_req ? '*' : '' %></span><br>
                                        <div>
                                            <%= question.question %><br>
    
                                            <% if(question.response_type === 'text'){ %>
                                                <textarea name="response_<%= index + 1%>" rows="10" maxlength="1000"></textarea><br><br>
                                            <% } %>

                                            <% if(question.response_type === 'bool'){ %>
                                                <input type="radio" name="response_<%= index + 1%>" value="true">
                                                <label>Yes</label>
                                                <input type="radio" name="response_<%= index + 1%>" value="false" checked>
                                                <label>No</label><br><br>
                                            <% } %>

                                            <% if(question.response_type === 'num'){ %>
                                                <input type="number" name="response_<%= index + 1%>"><br><br>
                                            <% } %>
                                        </div>
                                    <% }); %>

                                    <span class="response_err" style="color: red;"></span><br>
                                <%}%>
                                </div><br>

                                <input type="hidden" name="job_id" value="<%= post.id %>">
                                <input type="hidden" name="cv_req" value="<%= post.cv_req %>">
                                <input type="hidden" name="questions" value="<%= JSON.stringify(post.job_questions) %>">

                                <div>
                                    <button type="button" class="modal_cancel_btn">Cancel</button>
                                    <button type="submit" class="create_application_btn">Apply</button>
                                </div>
                            </div>
                            
                        </form>

                    </div>
                    <div class="modal_overlay"></div>








                </div>
            </td>
        </tr>
    <% }) %>
</table>



<script type="text/javascript"> 
    function toggleRow(row) { 
        $(".hidden_row").not("#" + row).hide();
        $("#" + row).toggle(); 
    } 

    function profilePrompt() {
        alert("You need to set up your profile to apply. \n Click OK to go to the profile setup page.");
        window.location.href = 'http://localhost:3000/user/profile'; // Replace with your actual profile setup URL
    }
</script>

<script type="module" src="/scripts/jobs_table_utils.js"></script>