
<table>
    <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Location</th>
        <th>Type</th>
        <th>Created</th>
        <th>
            <%- include('../partials/postings_filter.ejs') %>    
        </th>
    </tr>
    <% postings.forEach(function(post, index) { %>
        <tr id="job_row_<%= index %>">
            <td><span class="status_label <%= post.status %>"><%= post.status %></span></td>
            <td><%= post.title || 'N/A' %></td>
            <td><%= post.address || 'N/A' %></td>

            <td>
                <% if (post.job_types) { %>
                    <div>
                        <%= post.job_types.map(function(type) { 
                            return type.name; 
                        }).join(", ") %>
                    </div>
                <% } else { %>
                    <div>N/A</div>
                <% } %>
            </td>

            <td><%= post.created_at || 'N/A'%></td>
            <td><div class="table_expand_icon" onclick="toggleRow('hidden_row_<%= index %>')"></div></td>
        </tr>
        <tr id="hidden_row_<%= index %>" class="hidden_row">
            <td></td>
            <td colspan="5">
                <div class="hidden_row_flex_box">
                    <div class="hidden_row_info">

                        <div class="hidden_row_title">Job Description:</div>
                            <div class="hidden_row_content"><%= post.description || 'N/A'%></div>

                        <div class="hidden_row_title">Start Date:</div>
                            <div class="hidden_row_content"><%= post.start_date || 'N/A' %></div>

                        <div class="hidden_row_title">Salary range:</div>
                            <div class="hidden_row_content">£<%= post.min_pay || 'N/A'%> - £<%= post.max_pay || 'N/A' %> (per month)</div>


                        <div class="hidden_row_title">Working Environment:</div>
                            <div class="hidden_row_content"><%= post.style || 'N/A'%></div>

                        <div class="hidden_row_title">Address:</div>
                            <div class="hidden_row_content"><%= post.address || 'N/A' %></div>

                        <div class="hidden_row_title">Postcode:</div>
                            <div class="hidden_row_content"><%= post.postcode || 'N/A' %></div>
                            

                        <div class="hidden_row_title">Benefits:</div>
                            <% if (post.job_benefits.length > 0) { %>
                                <div class="hidden_row_content">
                                    <%= post.job_benefits.map(function(benefit) { 
                                        return benefit.name; 
                                    }).join(", ") %>
                                </div>
                            <% } else { %>
                                <div class="hidden_row_content">None</div>
                            <% } %>

                            
                        <div class="hidden_row_title">Skills:</div>
                        <% if (post.job_skills.length > 0) { %>
                            <div class="hidden_row_content">
                                <%= post.job_skills.map(function(skill) { 
                                    return skill.name; 
                                }).join(", ") %>
                            </div>
                        <% } else { %>
                            <div class="hidden_row_content">None</div>
                        <% } %>


                    </div>
                    <div  class="table_hidden_right_side">
                        <div class="table_hidden_btn">
                            <a href="/user/job/postings/edit/<%= post.id %>">
                                <button type="button" class="table_hidden_edit_btn">Edit</button>
                            </a>
                            <a href="/user/job/postings/<%= post.id %>" >
                                <button type="button" class="table_hidden_view_btn">View</button>
                            </a>
                        </div>

                        <div class="hidden_row_content">
                            <a href="/user/job/applicants/<%= post.id %>" >
                                <button type="button" class="table_hidden_applicant_btn">View Applicants</button>
                            </a>    
                        </div>

                        <div class="hidden_row_title">Contact:</div>
                        <div>Email: <%= post.employer.ct_email || 'N/A' %></div>
                        <div class="hidden_row_content">Phone: <%= post.employer.ct_phone || 'N/A' %></div>

                        <div class="hidden_row_title">Openings:</div>
                        <div class="hidden_row_content"><%= post.openings|| 'N/A'%> vacant</div>

                        <div class="hidden_row_title">Deadline:</div>
                        <div class="hidden_row_content"><%= post.deadline || 'N/A' %></div>
                    </div>
                </div>
            </td>
        </tr>
    <% }) %>
</table>



<script type="text/javascript"> 
    function toggleRow(row) { 
        $(".hidden_row").not("#" + row).hide();
        $("#" + row).toggle(); 
    } 
</script> 
